img {
  max-width: 30%;
  float: right
}


#h1_main {
  font-size:20px;
  background-color:lightblue;
  text-align:center
}

.extref {
  color:green;
}

.link_container {
  margin: 100px;

}

#p_margin {
    margin-left: 100px;
}
